{% extends 'base.html.twig' %}

{% block title %}Ajout d'un compte{% endblock %}

{% block body %}
<div style="text-align: center;">
    {% include '/header.html.twig' %}
        {{ form_start(form) }}
        {{ form_errors(form) }}<br>
        {{ form_row(form.email) }}<br>
        {{ form_row(form.password) }}<br>
        {{ form_row(form.roles) }}<br>

        {{ form_row(form.submit) }}


        <div hidden="hidden">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form, {render_rest: false}) }}
</div>
{% endblock %}
