{% extends 'base.html.twig' %}

{% block title %}Creation de rdv{% endblock %}

{% block body %}

    {% include '/header.html.twig' %}
    <ul>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.heureDebut) }}
        {{ form_row(form.heureFin) }}
        {{ form_row(form.submit) }}


        <div hidden="hidden">
            {{ form_rest(form) }}
        </div>
        {{ form_end(form, {render_rest: false}) }}
    </ul>
{% endblock %}
