{% extends 'base.html.twig' %}

{% block title %}Liste RDV{% endblock %}

{% block body %}
    {% include '/header.html.twig' %}
<div class="example-wrapper">
    <ul>
        {% for rdv in rdvs %}
            <li>Vous avez rendez-vous avec {{ rdv.professeur.name }}<br>
            Le {{ rdv.heureDebut.timestamp|date('d/m/y') }} de {{ rdv.heureDebut.timestamp|date('h:i') }} à {{ rdv.heureFin.timestamp|date('h:i') }}<br>
            <button><a href="{{ path('rdv_decommand', {'id':rdv.id}) }}"> decommander le rdv</a>
            </button></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
